---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Orchard Test</title>
	</head>
	<body>
		<main>
                <!-- CAN add nav bar here -->
			<slot>
                <!-- CHILDREN OF MAIN LAYOUT -->
                <!-- see index -->
            </slot>
		</main>
	</body>
</html>
